.account-view-wrapper {
    width: 100%;
    margin: 24px auto;
    padding: 0 12px;
    gap: 24px;
    min-height: auto;

    max-width: 1200px;
    display: grid;

    grid-template-columns: 1fr 2fr;

    @media screen and (max-width: $medium) {
        grid-template-rows: min-content auto;
        grid-template-columns: auto;
    }
}

.previous-submissions {
    display: grid;
    gap: 24px;
}

.account-view-content {
    min-height: auto;
    margin-bottom: 24px;
}

.submission-passed {
    color: var(--green);
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 12px;
}

.submission-failed {
    color: var(--red);
    font-weight: bold;
    font-size: 1.4em;
}

.submission-runtime {
    color: var(--green);
}

.view-problem {
    float: right;
    color: var(--text);
    text-decoration: none;
    background: none;
    border: none;

    &:hover {
        text-decoration: underline;
    }
}
