.leaderboard-wrapper {
    width: min(100% - 24px, 800px);
    margin: 12px auto;
}

.leaderboard-list {
    display: flex;
    flex-direction: column;
    min-height: auto;
}

.leaderboard-item {
    display: grid;
    grid-template-areas: "rank name stars"
			 "rank username stars";
    text-decoration: none;
    column-gap: 12px;
    row-gap: 4px;
    grid-template-columns: auto 1fr;
    color: var(--text);

    &:hover {
	text-decoration: underline;
    }

    &:not(:last-child) {
	border-bottom: 2px solid var(--border);
    }
}

.leaderboard-rank {
    display: flex;
    align-items: center;
    font-weight: bolder;
    grid-area: rank;
    font-size: 2em;
    margin: 0 16px;
}

.leaderboard-name {
    grid-area: name;
    font-weight: bold;
    font-size: 1.5em;
}

.leaderboard-username {
    grid-area: username;
}

.leaderboard-stars {
    display: flex;
    align-items: center;
    grid-area: stars;
    text-align: right;
}
