.auth-wrapper {
    width: min(100% - 24px, 600px);
    margin: 24px auto;

    h1 {
	font-weight: bolder;
	font-size: 1.8em;
	margin-bottom: 12px;
    }
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
