.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    gap: 12px;
    top: 0;
    z-index: 100;
    align-self: start;
    padding: 8px;
    min-height: auto;
    box-shadow: 0 0 0 2px var(--border);
    background-color: var(--card-background);

    @media screen and (max-width: 768px) {
	flex-direction: column;
    }
}

.navbar-links {
    @media screen and (max-width: 768px) {
	display: block;
	align-self: flex-start;
    }
}

.navbar-link {
    vertical-align: middle;
    border: none;
    background: none;
    color: var(--text);
    text-decoration: none;
    padding: 12px;
    background: none;
    border: none;
    font-size: 1.1em;

    &:hover {
	text-decoration: underline;
    }

    @media screen and (max-width: 768px) {
	align-self: flex-start;
	display: block;

	&:not(:first-child) {
	    display: none;
	}
    }
}

.navbar-open {
    @media screen and (max-width: 768px) {
	.navbar-link {
	    display: block;
	}
    }
}

.navbar-title {
    align-self: flex-start;
    font-size: 1.4em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.title-container {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 768px) {
	width: 100%;
    }
}

.signup-button {
    margin-left: auto;

    @media screen and (max-width: 768px) {
	margin: 0;
    }
}

.menu-button {
    display: none !important;
    margin-left: auto;

    @media screen and (max-width: 768px) {
	margin-left: auto;
	display: inline-block !important;
    }
}
