.navbar-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-areas: "links signup";
    padding: 8px;
    border-bottom: 2px solid var(--border);
}

.navbar-links {
    grid-area: links;
}

.signup {
    grid-area: signup;
}

.navbar-link {
    vertical-align: middle;
    margin-right: 12px;
    border: none;
    background: none;
    color: var(--text);
    text-decoration: none;
    padding: 12px;
    background: none;
    border: none;
    font-size: 1.1em;
    cursor: pointer;

    &:hover {
	text-decoration: underline;
    }
}

.navbar-title {
    vertical-align: middle;
    font-size: 1.4em;
    margin-right: 12px;
    font-weight: bold;
}
