.tests-wrapper {
    grid-area: tests;
    font-size: 1.2em;
}

.hide-tests {
    border-radius: inherit;
    outline: inherit;
    padding: 16px 12px;
    background-color: var(--grey);
    display: block;
    user-select: none;
    cursor: pointer;
    position: sticky;

    &:hover {
	outline-width: 4px;
    }
}

.tests {
    max-height: 500px;
    gap: 12px;
    display: grid;
    overflow-y: auto;
}

.test-list {
    display: grid;
    gap: 14px;
}

.test {
    padding: 12px;
    border: 2px solid;
    border-radius: 0;
    text-decoration: none;
    color: white;
    overflow-y: auto;

    &.success {
	background-color: var(--green);
	border-color: var(--green-highlight);

	&:hover {
	    background-color: var(--green-highlight);
	}
    }

    &.failure {
	background-color: var(--red);
	border-color: var(--red-highlight);

	&:hover {
	    background-color: var(--red-highlight);
	}
    }
}
