.tests-wrapper {
    font-size: 1.2em;
}

.hide-tests {
    border-radius: inherit;
    outline: inherit;
    padding: 16px 12px;
    background-color: var(--grey);
    display: block;
    user-select: none;
    cursor: pointer;
    position: sticky;
    transition: outline 50ms ease-in-out;

    &:hover {
        outline-width: 4px;
    }
}

.tests {
    max-height: 500px;
    gap: 12px;
    display: grid;
    overflow-y: auto;
}

.test-list {
    display: grid;
    gap: 14px;
}
