.button {
    border: 0;
    user-select: none;
    color: white !important;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    padding: 12px;
    text-align: center;
    border-radius: 2px;

    &.blue {
	background-color: var(--blue);
	box-shadow: 0 0 0 2px var(--blue-highlight);

	&:hover, &:focus {
	    box-shadow: 0 0 0 4px var(--blue-highlight);
	}
    }

    &.green {
	background-color: var(--green);
	box-shadow: 0 0 0 2px var(--green-highlight);

	&:hover, &:focus {
	    box-shadow: 0 0 0 4px var(--green-highlight);
	}
    }

    &.red {
	background-color: var(--red);
	box-shadow: 0 0 0 2px var(--red-highlight);

	&:hover, &:focus {
	    box-shadow: 0 0 0 4px var(--red-highlight);
	}
    }

    &.grey {
	color: var(--text) !important;
	background-color: var(--grey);
	box-shadow: 0 0 0 2px var(--grey-highlight);

	&:hover, &:focus {
	    box-shadow: 0 0 0 4px var(--grey-highlight);
	}
    }
}
