.markdown-editor {
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.markdown-preview {
    overflow-y: auto;
    padding: 12px;
}

.title-input {
    font-weight: bold;
    font-size: 1.4em;
    padding: 8px;
}

.top-row {
    display: grid;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid var(--border);
    height: 48px;

    grid-template-columns: 1fr auto;
    grid-template-areas: "description button";
}
