.markdown-editor {
    grid-area: editor;
    display: grid;
    border: 2px solid var(--border);

    grid-template-rows: auto 1fr;
    grid-template-areas: "top-bar"
			 "content";
}

.title-input {
    font-weight: bold;
    font-size: 1.4em;
    border: 2px solid var(--border);
    outline: none;
    padding: 8px;

    &:hover {
        outline: 2px solid var(--border);
    }
}

.top-row {
    display: grid;
    align-items: center;
    padding: 8px;
    border-bottom: 2px solid var(--border);
    height: 48px;

    grid-template-columns: 1fr auto;
    grid-template-areas: "description button";
}
