.tabbed {
    display: grid;
    grid-template-rows: auto 1fr;
}

.tabbed-buttons {
    display: grid;
    grid-auto-flow: column dense;
    border-bottom: 2px solid var(--border);
}

.tabbed-button {
    background-color: var(--grey);
    cursor: pointer;
    border: 0;
    padding: 8px;

    &.focused {
	background-color: var(--border);
    }
}

.problem-editor-content {
    grid-area: content;
    border: 2px solid var(--border);
    margin: 0 12px 12px 0;
}
