.tests-editor {
    max-height: 100%;
    display: grid;
    grid-auto-flow: row;
    padding: 12px;
    gap: 12px;
    background-color: var(--background);
    overflow-y: auto;

    textarea {
	font-size: 18px;
	resize: none;
    }
}

.tests-buttons button {
    margin-right: 12px;
}

.test-editor-col {
    display: grid;
    grid-template-rows: 24px auto;
    gap: 8px;
}

.test-editor {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    min-height: 200px;
}
