:root {
    --green: hsl(111, 59%, 40%);
    --green-highlight: hsl(111, 59%, 50%);
    --red: hsl(7, 59%, 40%);
    --red-highlight: hsl(7, 59%, 50%);
    --blue: hsl(220, 60%, 40%);
    --blue-highlight: hsl(220, 60%, 50%);
    --text: hsl(0, 50%, 8%);

    --grey: hsl(200, 10%, 94%);
    --grey-highlight: hsl(200, 10%, 88%);

    --border: hsl(200, 10%, 78%);
	--background: hsl(200, 10%, 98%);
	--card-background: white;

    --modal-backdrop: rgba(0, 0, 0, 0.7);

    font-family: Arial, Helvetica, sans-serif;

    @media (prefers-color-scheme: dark) {
        --text: hsl(0, 50%, 97%);

        --grey: hsl(200, 10%, 12%);
        --grey-highlight: hsl(200, 10%, 15%);

        --border: hsl(200, 10%, 30%);
        --background: hsl(200, 10%, 8%);
        --card-background: black;
    }
}

$small: 300px;
$medium: 900px;

body {
    margin: 0;
    color: var(--text);
    background-color: var(--background);
    font-size: 16px;

    @media screen and (max-width: $medium) {
        font-size: 14px;
    }
}

.slide-content .scroller {
  width: 1024px;
}

.container {
    display: grid;
    overflow-x: hidden;
    grid-template-rows: auto 1fr;
    height: 100vh;
    width: 100vw;
}

h1, h2, h3, h4, h5 {
    &:first-child {
        margin-top: 0;
        margin-bottom: 12px;
    }
}

pre:last-child {
    margin-bottom: 0;
}

pre {
    font-size: 1.2em;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--grey);
    overflow-x: auto;
}

.code-editor {
    margin-top: 4px;
    height: calc(100% - 8px);
}

* {
    overflow-wrap: anywhere;
    box-sizing: border-box;
    min-height: 0;
    min-width: 0;
}

.card {
    background-color: var(--card-background);
    border-radius: 4px;
    box-shadow: 0 0 0 2px var(--border);
}

.padded {
    padding: 12px;
}

.acm-input {
    color: var(--text);
    display: block;
    background-color: var(--card-background);
    border-radius: 2px;
    font-size: 1.1em;
    border: 0;
    outline: 0;
    padding: 12px;
    box-shadow: 0 0 0 2px var(--border);
    width: 100%;
    transition: box-shadow 50ms ease-in-out;

    &:focus {
        box-shadow: 0 0 0 4px var(--border);
    }

    &:valid {
	outline-color: var(--green);
    }

    &:not(:placeholder-shown):invalid {
	outline-color: var(--red);
    }
}

.card-input {
    background-color: var(--background);
}

a {
    border: none;
    background: none;
    color: var(--text);
    text-decoration: none;

    &:hover {
	text-decoration: underline;
    }
}

@import "error.scss";
@import "navbar.scss";
@import "tests.scss";
@import "auth.scss";
@import "views/leaderboard.scss";
@import "views/problem-editor.scss";
@import "views/problem-list.scss";
@import "views/problem.scss";
@import "views/account.scss";
@import "views/meetings.scss";
@import "components/code-runner.scss";
@import "components/markdown-editor.scss";
@import "components/tabbed.scss";
@import "components/modal.scss";
@import "components/tests-editor.scss";
@import "components/button.scss";
