.code-runner-wrapper {
    display: grid;
    text-align: right;
    grid-template-columns: 1fr auto;
}

.activity-selector {
    display: grid;
    grid-auto-flow: column;
    gap: 12px;
    margin-right: auto;

    label {
        align-self: center;
    }
}


