.loading-button {
    position: relative;
    transition: margin 50ms ease-in-out;
    padding: 12px 24px;

    &.active {
	.loading-button-text {
	    left: -8px;
	}

	.spinner {
	    opacity: 1;
	    animation: pulse 2s infinite 400ms;
	}
    }
}

.loading-button-text {
    position: relative;
    left: 0;
    transition: left 200ms ease-in-out;
}

.spinner {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-50%);
    top: 50%;
    height: 1em;
    width: 1em;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

@keyframes pulse {
  0% {
    transform: translateY(-50%) scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    transform: translateY(-50%) scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: translateY(-50%) scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
