.account-view-wrapper {
    width: min(100% - 24px, 1200px);
    margin: 12px auto;
    gap: 24px;
    min-height: auto;
    display: grid;

    grid-template-columns: 1fr 2fr;

    @media screen and (max-width: $medium) {
        grid-template-rows: min-content auto;
        grid-template-columns: auto;
    }
}

.previous-submissions {
    display: grid;
    gap: 24px;
}

.account-view-content {
    min-height: auto;
    margin-bottom: 24px;
}

.passed {
    color: var(--green);
}

.failed {
    color: var(--red);
}

.res-title {
    font-weight: bold;
    font-size: 1.4em;
    margin-right: 12px;
}

.view-problem {
    float: right;
    color: var(--text);
    text-decoration: none;
    background: none;
    border: none;

    &:hover {
        text-decoration: underline;
    }
}
