.title {
    font-size: 3em;
    margin: 12px 0 0 0 !important;
}

.home-wrapper {
    display: grid;
    grid-auto-flow: dense;
    gap: 12px;
    justify-content: center;

    grid-template-columns:
      [full-start] minmax(12px, 0.2fr)
      [main-start] minmax(0, 800px) [main-end]
      minmax(12px, 0.2fr) [full-end];

    img {
        border-radius: 0 0 4px 4px;
    }

    & > * {
        grid-column: main;
        margin: 0;
    }

    & > .problem-wrapper, & > img {
        grid-column: full;
        width: 100%;
    }

    .problem-wrapper {
        padding: 0;
        height: 50vh;

        @media screen and (max-width: $medium) {
            padding: 12px;
            height: 80vh;
        }
    }
}
