.problem-editor-wrapper {
    display: grid;
    gap: 12px;
    grid-template-columns: 500px 1fr;
    padding: 12px;
    overflow: hidden;

    @media screen and (max-width: $medium) {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
    }
}

.problem-editor-content {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "editor" "code-runner";
    gap: 12px;

}

.problem-editor-sidebar {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 12px;
}
