.problem-list-wrapper {
    display: flex;
    flex-direction: column;
    width: min(100% - 24px, 800px);
    margin: 24px auto;
    gap: 24px;
    min-height: auto;

    h2 {
        margin: 0;
    }
}

.problem-grouping {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 8px;
    margin: 0 -8px 6px -8px;
    padding: 8px;

    color: var(--retro-code-text);
    background-color: var(--retro-code-background);
    box-shadow: 0 0 0 8px var(--retro-code-border);

    & > h1 {
        font-family: monospace;
        margin: 0;
    }
}

.problem-listing {
    overflow-y: hidden;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: var(--text);
    position: relative;
    box-shadow: 0 0 0 2px var(--border);
    max-height: 300px;
    transition: box-shadow 50ms ease-in-out;

    &:hover {
        text-decoration: none;
        box-shadow: 0 0 0 4px var(--border);

        h1 {
            text-decoration: underline;
        }
    }
}

.cover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        var(--card-background) 100%
    );
}
