.problem-list-wrapper {
    display: flex;
    flex-direction: column;
    width: min(100% - 24px, 800px);
    margin: 24px auto;
    gap: 24px;
    min-height: auto;
}

.problem-listing {
    overflow-y: hidden;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: var(--text);
    position: relative;
    box-shadow: 0 0 0 2px var(--border);
    max-height: 300px;
    transition: box-shadow 50ms ease-in-out;

    &:hover {
        box-shadow: 0 0 0 4px var(--border);
    }
}

.cover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0) 0%,
        var(--card-background) 100%
    );
}
