.problem-wrapper {
    display: grid;
    gap: 12px;
    padding: 12px;
    grid-template-columns: 500px auto;

    @media screen and (max-width: $medium) {
        grid-template-rows: auto 1fr;
        grid-template-columns: auto;
        min-height: auto;
    }
}

.sidebar-wrapper {
    display: grid;
    grid-gap: 12px;

    grid-template-rows: auto 1fr;

    @media screen and (max-width: $medium) {
        min-height: auto;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
}

.content-wrapper {
    display: grid;
    gap: 12px;

    grid-template-rows: 1fr auto;

    &.shown {
	grid-template-rows: 2fr 1fr auto;
    }

    @media screen and (max-width: $medium) {
	min-height: auto;
	grid-template-rows: 50vh min-content;

	&.shown {
	    grid-template-rows: 50vh auto auto;
	}
    }
}

.problem-console {
    display: grid;
    gap: 12px;
    grid-template-columns: minmax(150px, 100%) minmax(200px, 400px);

    @media screen and (max-width: $small) {
	grid-template-columns: auto;
	grid-template-rows: 200px auto;
    }
}


.custom-input {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 12px;
}

.description {
	overflow: auto;
}

.run-button {
    margin-right: auto;
}

